
<div class="agenda-container">
  <div class="header"></div>
  <div class="agenda-grid">
    <div class="time-column">
      <div class="time-slot" *ngFor="let hora of horasDia">{{ hora }}</div>
    </div>
    <div class="day-column" *ngFor="let dia of diasSemana">
      <div class="day-header">{{ dia | date:'EEE dd/MM' }}</div>
      <div
        class="time-slot"
        *ngFor="let hora of horasDia"
        (click)="abrirModalNuevaReserva(dia, hora)"
        [ngClass]="{'has-cita': obtenerCitaEnHora(dia, hora, citas)}"
      >
        <div class="cita" *ngIf="obtenerCitaEnHora(dia, hora, citas)">
          {{ obtenerCitaEnHora(dia, hora, citas)?.nombrePaciente }}
        </div>
      </div>
    </div>
  </div>

  <app-new-reservation
    *ngIf="isModalOpen"
    [selectedDate]="selectedDateForModal"
    [selectedTime]="selectedTimeForModal"
    [patientId]="patientId"
    (closeModal)="cerrarModalNuevaReserva()"
    (reservaGuardada)="guardarNuevaReserva($event)"
  ></app-new-reservation>
</div>