<div class="flex">

  <mat-card class="patient-card">
    <mat-card-header class="header">
      <div class="avatar-container">
        <mat-icon>person</mat-icon>
      </div>
      <div>
        <h2 class="patient-name" *ngIf="patient && patient?.person?.firstName">
          {{ patient?.person?.firstName }} {{ patient?.person?.lastName }}
        </h2>
        <p class="patient-age">{{ patient?.person?.age }} Años</p>
      </div>
    </mat-card-header>

    <mat-card-content class="info-section">
      <mat-divider></mat-divider>

      <div class="info-grid">
        <div><strong>📞 Teléfono:</strong> {{ patient?.person?.phone || '' }}</div>
        <div><strong>✉️ Email:</strong> {{ patient?.person?.email || '' }}</div>
        <div><strong>📍 Dirección:</strong> {{ patient?.person?.address || '' }}</div>
        <div><strong>📅 Creación:</strong> {{ patient?.createdAt | date: 'short' }}</div>
        <div><strong>🔄 Última Actualización:</strong> {{ patient?.updatedAt | date: 'short' }}</div>
      </div>

      <div class="section">
        <h3>🩺 Historial Médico</h3>
        <p>{{ 'Sin historial disponible' }}</p>
      </div>

      <div class="section">
        <h3>🗒️ Nuevo Servicio</h3>
        <button mat-stroked-button color="primary" (click)="toggleNewConsultation()">Agregar Servicio</button>
      </div>


      <div class="section past-consultations">
        <h3>📅 Servicios Pasados</h3>
        <mat-list>
          <mat-list-item
            *ngFor="let consultation of patient?.consultations; let i = index"
            (click)="showConsultationDetails(consultation)"
            class="consultation-item"
          >
            <div class="d-flex"> 
              <mat-icon matListIcon color="primary">assignment</mat-icon>
              <div *ngIf="consultation.services.length">
                {{consultation.services[0].serviceName}}
              </div>
              <div *ngIf="!consultation.services.length">
                Nombre de servicio no disponible
              </div>
            </div>
            <div matLine class="consultation-info">
              <span class="consultation-date">{{ consultation?.createdAt | date: 'dd/MM/yyyy - HH:mm' }}</span>              
            </div>
            <mat-icon matSuffix color="accent">chevron_right</mat-icon>
          </mat-list-item>
          <div *ngIf="patient?.consultations?.length === 0" class="empty-consultations">
            <mat-icon color="warn">info_outline</mat-icon>
            <span>No hay consultas pasadas registradas para este paciente.</span>
          </div>
        </mat-list>
      </div>

    </mat-card-content>

    <mat-card-actions align="end" class="actions">
      <button mat-button color="primary">Editar</button>
      <button mat-button color="accent" (click)="viewAgenda(patient)">Agendar</button>
      <button mat-button color="warn">Eliminar</button>
    </mat-card-actions>
  </mat-card>

  <div class="consultation-details" #consultationDetailsContainer>
    <div class="card">
      <h3 class="card-title">📋 Detalles del Servicio</h3>

      <div class="card-content">
        <div class="info">
          <div class="info-row">
            <span class="label">Fecha:</span>
            <span class="value" *ngIf="!showNewConsultation || selectedConsultation">{{ selectedConsultation?.createdAt | date: 'short' }}</span>
            <span class="value" *ngIf="showNewConsultation">{{ getTodayDate() | date: 'short' }}</span>
          </div>

          <div class="info-row">
            <span class="label" *ngIf="!showNewConsultation || selectedConsultation">Motivo:</span>
            <span class="value" *ngIf="!showNewConsultation || selectedConsultation">{{ selectedConsultation?.reasonOfConsultation }}</span>

            <mat-form-field *ngIf="showNewConsultation" appearance="outline" class="full-width">
              <mat-label >Motivo</mat-label>
              <textarea matInput [(ngModel)]="newConsultation.reasonOfConsultation"></textarea>
            </mat-form-field>
          </div>

          <div class="info-row">
            <span class="label" *ngIf="!showNewConsultation || selectedConsultation">Detalle:</span>
            <span class="value" *ngIf="!showNewConsultation || selectedConsultation">{{ selectedConsultation?.details }}</span>

            <mat-form-field *ngIf="showNewConsultation" appearance="outline" class="full-width">
              <mat-label>Detalle</mat-label>
              <textarea matInput [(ngModel)]="newConsultation.details"></textarea>
            </mat-form-field>
          </div>

        </div>

        <div class="notes">
          <h4>📝 Notas</h4>
          <p *ngIf="!showNewConsultation || selectedConsultation">{{ selectedConsultation?.notes }}</p>

          <mat-form-field *ngIf="showNewConsultation" appearance="outline" class="full-width">
            <mat-label>Notas</mat-label>
            <textarea matInput [(ngModel)]="newConsultation.notes"></textarea>
          </mat-form-field>
        </div>

            <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>medical_services</mat-icon> Servicio</mat-label>
              <mat-select (selectionChange)="onServiceSelected($event)">
                <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">
                  {{ servicio.serviceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        <button *ngIf="showNewConsultation" mat-raised-button color="accent" (click)="addConsultation()">Guardar</button>
      </div>
    </div>
  </div>
</div>