<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Nueva reserva</h2>
      <button mat-icon-button (click)="onCloseModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reservaForm" class="reservation-form">

        <div class="form-grid">
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>access_time</mat-icon> Hora Inicio</mat-label>
              <input matInput type="time" formControlName="horaInicio">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>access_time</mat-icon> Hora Fin</mat-label>
              <input matInput type="time" formControlName="horaFin">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>calendar_today</mat-icon> Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Paciente</mat-label>
              <input
                matInput
                type="text"
                formControlName="searchPaciente"
                [matAutocomplete]="auto"
                [disabled]="selectedPatient !== null"
              />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPatient($event.option.value)">
                <mat-option *ngFor="let patient of searchResults$ | async" [value]="patient">
                  {{ getPatientDisplayName(patient) }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div *ngIf="selectedPatient">
              <label>Paciente Seleccionado:</label>
              <div>
                <span>{{ getPatientDisplayName(selectedPatient) }}</span>
                {{fromUrl}}
                <button [disabled]="fromUrl" mat-icon-button color="warn" (click)="removePatient()">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>

            <button type="button" class="add-patient">Agregar nuevo paciente</button>
          </div>
          <!--
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>person</mat-icon> Profesional</mat-label>
              <mat-select formControlName="profesional">
                <mat-option *ngFor="let profesional of profesionales" [value]="profesional.id">{{ profesional.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          -->
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>medical_services</mat-icon> Servicio</mat-label>
              <mat-select formControlName="servicio">
                <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>attach_money</mat-icon> Precio</mat-label>
              <input matInput type="number" formControlName="precio">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="full-width">
              <mat-label><mat-icon>info</mat-icon> Información adicional</mat-label>
              <textarea matInput formControlName="informacionAdicional"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button (click)="onCloseModal()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onGuardarReserva()" [disabled]="reservaForm.invalid || !selectedPatient">Guardar reserva</button>
    </div>
  </div>
</div>