<div class="patients-container">
  <!-- Barra de búsqueda avanzada -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar paciente por nombre o ID" />
    <button (click)="searchPatients()">Buscar</button>
    <button (click)="resetSearch()">Restablecer</button>
    <button class="btn-secondary" routerLink="/patient">➕ Crear Paciente</button>

  </div>

  <!-- Listado de pacientes -->
  <div class="patients-list">
    <div *ngFor="let patient of patients" class="patient-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{getFullName(patient)}}</mat-card-title>
          <mat-card-subtitle>Edad: 7 | Género: M</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <!--
          <p><strong>ID:</strong> {{ patient.id }}</p>        
          <p><strong>Historial Médico:</strong> {{ patient.medicalHistory }}</p>
          <div *ngIf="patient.person.">
            <h5>Citas Previas:</h5>
            <ul>
              <li *ngFor="let appointment of patient.appointments">{{ appointment.date }} - {{ appointment.description }}</li>
            </ul>
          </div>    
          -->
          <div class="action-buttons">          
            <button mat-button [routerLink]="['/agenda', patient.patientId]">Agendar</button>          
            <button mat-button (click)="viewPatientDetails(patient)">Ver Detalles</button>
            <button mat-button (click)="editPatient(patient)">Editar</button>
            <button mat-button color="warn" (click)="deletePatient(patient.patientId)">Eliminar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  

  <!-- Modal para agregar o editar paciente -->
  <div class="add-edit-patient-modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h3>{{ isEdit ? 'Editar Paciente' : 'Agregar Paciente' }}</h3>
      <form (ngSubmit)="savePatient()">
        <label for="name">Nombre</label>
        <input type="text" [(ngModel)]="patientForm.name" name="name" required />

        <label for="age">Edad</label>
        <input type="number" [(ngModel)]="patientForm.age" name="age" required />

        <label for="gender">Género</label>
        <select [(ngModel)]="patientForm.gender" name="gender" required>
          <option value="Male">Masculino</option>
          <option value="Female">Femenino</option>
        </select>

        <label for="medicalHistory">Historial Médico</label>
        <textarea [(ngModel)]="patientForm.medicalHistory" name="medicalHistory"></textarea>

        <button type="submit">{{ isEdit ? 'Guardar Cambios' : 'Agregar Paciente' }}</button>
      </form>
      <button (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>
