<div class="patients-container">
  <div class="search-bar">
    <mat-form-field class="full-width">
      <mat-label>Paciente</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchQuery"                 
      />

    </mat-form-field>
    <button mat-raised-button color="accent" routerLink="/patient">
      <mat-icon>person_add</mat-icon> Crear Paciente
    </button>
  </div>

  <div class="patients-list">
    <mat-card *ngFor="let patient of patients" class="patient-card">
      <div class="patient-info">
        <div class="patient-avatar">
          <mat-icon class="avatar-icon">person</mat-icon> 
        </div>
        <div class="patient-details">
          <div class="patient-name">{{ getFullName(patient) }}</div>
          <div class="patient-meta">
            <span>Edad: 10</span> | <span>Género: {{ getGenderDisplay(patient.person.gender) }}</span>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button mat-raised-button color="primary" [routerLink]="['/agenda', patient.patientId]">
          <mat-icon>event</mat-icon> Agendar
        </button>
        <button mat-raised-button (click)="viewPatientDetails(patient)">
          <mat-icon>visibility</mat-icon> Detalles
        </button>
        <button mat-raised-button color="accent" (click)="editPatient(patient)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button *ngIf="patient.patientId" mat-raised-button color="warn" (click)="deletePatient(patient.patientId)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </div>
    </mat-card>
  </div>

  <div class="add-edit-patient-modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h3>{{ isEdit ? 'Editar Paciente' : 'Agregar Paciente' }}</h3>
      <form (ngSubmit)="savePatient()" class="patient-form">
        </form>
    </div>
  </div>
</div>